## pigeonMQ (broker) config
PIGEONMQ_MQTT_PORT=1883
PIGEONMQ_HTTP_PORT=8080
PIGEONMQ_DELIVERY_INTERVAL_MS=100
PIGEONMQ_ACK_TIMEOUT_SECONDS=30
PIGEONMQ_MAX_RETRIES=5
PIGEONMQ_WORKER_POOL_SIZE=4

## PostgreSQL (container) config
POSTGRES_DB=pigeonmq
POSTGRES_USER=pigeonmq
POSTGRES_PASSWORD=pigeonmq
